#nav{
  background: #333;
  text-align: center;
}


#nav ul li{
  display: inline;
  padding: 0 1.5%;
}

#nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.image-grid{
  display-grid;
}

.image-grid div{
  background-image: url('http://lorempixel.com/output/city-q-c-640-480-6.jpg');
}
